---
import WalletConnect from "./WalletConnect.tsx";
---

<header class="max-w-4xl mx-auto mt-6 mb-16">
  <nav class="flex justify-end items-center">
    <WalletConnect client:load />
  </nav>
</header>
